<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="don.coffee.coffeeware">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".agregarCategoria"></activity>
        <activity android:name=".manejarCategoria" />
        <activity android:name=".listaProductos" />
        <activity android:name=".administrarProducto" />
        <activity android:name=".EditOrder" />
        <activity android:name=".agregarProducto" />
        <activity android:name=".paymentActivity" />
        <activity android:name=".listaOrdenes" />
        <activity android:name=".ConfirmOrder" />
        <activity android:name=".PersonalizarProductoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>